.stepper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green($color: #000000);
    height: 100vh; /* Set the height to the full viewport height */
    text-align: center;
  }
  
  /* Add any additional styling you want for the buttons */
  button {
    margin-top: 10px;
    color: whitesmoke;
    background-color: blue;
    border-radius: 0;
  }
  